.vl-color-tone {
  &__wrapper {
    padding-bottom: 32px;
  }
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  border: solid 1px $green;
  gap: 8px;

  &__item {
    flex: 1 1 25%;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 15px;
    position: relative;

    &.pure {
      border: 1px solid $border-color;
    }
    &.brown {
      background-color: $brown-tint;
    }
    &.grey {
      background-color: $grey-tint;
    }
    &.blue {
      background-color: $blue-tint;
    }

    &.selected {
      font-weight: 500;
    }

    &.selected::after {
      content: '';
      position: absolute;
      bottom: -40px;
      left: 50%;
      transform: translateX(-50%);
      width: 24px;
      height: 24px;
      background: url('../../assets/indicator.svg') no-repeat center;
    }
  }
}
