// Colors
$primary-color: #3498db;
$black: #000000;
$white: #FFFFFF;
$lime: #E2F1EB;
$green: #042516;
$bright-green: #063520;
$text-color: #0D0E0D;
$text-color-light: #929292;
$border-color: #E4E4E4;
$border-color2: #E1E9E6;

// Color tone
$brown-tint: #F2EBE6;
$grey-tint: #F5F5F5;
$blue-tint: #F0F4FA;

// Growhth lines
$background-color: #F5F5F5;
$border-color3: #E3E3E3;

// Optical analysis
$red: #C7233C;
$green2: #006515;
$dark-blue: #003F63;

// Font sizes