.vl-visual {
  width: 100%;
  padding-bottom: 32px;
  &__wrapper {
    position: relative;
    width: 100%;
  }

  &__line {
    height: 2px;
    background-color: $bright-green;
    margin: 8px 0;
  }

  &__labels {
    display: flex;
    justify-content: space-between;
  }

  &__label-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    gap: 4px;
  }

  &__label {
    font-family: "Switzer", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $text-color-light;
    font-weight: 500;
    font-size: 14px;
    height: 36px;
    aspect-ratio: 1 / 1;
    position: relative;
    padding: 0 8px;
    white-space: nowrap;

    &.selected {
      color: $white;
      font-weight: 700;
      background-color: $green;
    }

    &::after {
      content: '';
      position: absolute;
      width: 2px;
      height: 10px;
      background-color: $bright-green;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__percent {
    font-size: 12px;
    color: $text-color-light;
    font-family: "Switzer", sans-serif;

    &.selected {
      font-weight: 500;
      color: $green;
    }
  }

  &__indicator {
      position: relative;
      height: 20px;
    &-value{
      font-family: "Switzer", sans-serif;
      position: absolute;
      left: 100%;
      bottom: -14px;
      transform: translateX(-50%);
      font-size: 12px;
      font-weight: 600;
      color: $green;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 100%;
      transform: translateX(-50%);
      width: 24px;
      height: 24px;
      background: url('../../assets/indicator.svg') no-repeat center;
    }
  }
}
